[Unit]
Description=Celery Worker Service
After=network.target redis.service

[Service]
Type=simple
User=almalinux
WorkingDirectory=/home/almalinux
ExecStart=/home/almalinux/worker-venv/bin/celery -A tasks worker --loglevel=INFO
Restart=always

[Install]
WantedBy=multi-user.target
