---
#Install hhsuite for the pipeline and put inside nfs
- name: Check if hhsuite already installed (flag)     #some we dont try to download again if already on filesystem
  ansible.builtin.stat:
    path: /shared/almalinux/tools/hhsuite/.installFlag
  register: hhsuiteFlag
- name: Create tools directory
  ansible.builtin.file:
    path: /shared/almalinux/tools
    state: directory
    owner: almalinux
    group: almalinux
    mode: "0755"
- name: Clone hhsuite repo
  ansible.builtin.git:
    repo: "https://github.com/soedinglab/hh-suite.git"
    dest: /shared/almalinux/tools/hhsuite
    version: master
    force: yes
    update: yes
  when: not hhsuiteFlag.stat.exists
- name: Create build directory
  ansible.builtin.file:
    path: /shared/almalinux/tools/hhsuite/build
    state: directory
    owner: almalinux
    group: almalinux
    mode: "0755"
  when: not hhsuiteFlag.stat.exists
- name: Set up cmake for hhsuite                      #Configures hhbuild using cmake
  ansible.builtin.command:
    cmd: cmake ..
    chdir: /shared/almalinux/tools/hhsuite/build
  when: not hhsuiteFlag.stat.exists
- name: compile hhsuite make tools                    
  ansible.builtin.command:
    cmd: make -j 4                                    #-j 4 -> use 4 cpus for efficiency
    chdir: /shared/almalinux/tools/hhsuite/build
  when: not hhsuiteFlag.stat.exists
- name: Install hhsuite                               #installs hhsuite using make
  ansible.builtin.command:
    cmd: make install
    chdir: /shared/almalinux/tools/hhsuite/build
  when: not hhsuiteFlag.stat.exists
- name: Create hhsuite install check flag
  ansible.builtin.file:
    path: /shared/almalinux/tools/hhsuite/.installFlag
    state: touch
    owner: almalinux
    group: almalinux
    mode: "0644"
  when: not hhsuiteFlag.stat.exists
