---
#Clone all the necessary folders and files from the git repo and put inside nfs
- name: Create temporary git directory
  ansible.builtin.file:
    path: /tmp/V2coursework
    state: directory
    mode: "0755"

# Temporary fix whilst gitlab is down - MUST DELETE BEFORE SUBMISSION
- name: Copy V2coursework repo from hub to storage node
  ansible.builtin.synchronize:
    src: /home/almalinux/V2coursework/
    dest: /tmp/V2coursework/

#- name: Temporary clone entire V2coursework git repository
#  ansible.builtin.git:
#    repo: "{{gitrepourl}}"
#    dest: /tmp/V2coursework
#    version: master
#    force: yes
#    update: yes
#    accept_hostkey: yes

- name: Remove old data directory
  ansible.builtin.file:
    path: /home/almalinux/data/
    state: absent

- name: Create data directory
  ansible.builtin.file:
    path: /home/almalinux/data
    state: directory
    owner: almalinux
    group: almalinux
    mode: "0755"

- name: Copy data folder
  ansible.builtin.copy:
    src: /tmp/V2coursework/data/
    dest: /home/almalinux/data/
    owner: almalinux
    group: almalinux
    mode: "0755"          #6-owner:rw, 4-group:r, 4-others:r
    remote_src: yes


- name: Remove old src directory
  ansible.builtin.file:
    path: /home/almalinux/src/
    state: absent

- name: Create src directory
  ansible.builtin.file:
    path: /home/almalinux/src
    state: directory
    owner: almalinux
    group: almalinux
    mode: "0755"          #7-owner:rwe, 5-group:re, 5-others:re

- name: Copy src folder
  ansible.builtin.copy:
    src: /tmp/V2coursework/src/
    dest: /home/almalinux/src/
    owner: almalinux
    group: almalinux
    mode: "0755"          #7-owner:rwe, 5-group:re, 5-others:re
    remote_src: yes

- name: Delete git repoistory download fdoler
  ansible.builtin.file:
    path: /tmp/V2coursework
    state: absent
