[Unit]
Description=Celery Worker Service
After=network-online.target redis.service remote-fs.target

[Service]
Type=simple
User=almalinux
WorkingDirectory=/shared/almalinux/scripts/celery
ExecStart=/usr/local/bin/celery -A tasks worker --loglevel=INFO
Restart=always

[Install]
WantedBy=multi-user.target
