broker_url='redis://{{groups["host"][0]}}:6379/0'
result_backend='redis://{{groups["host"][0]}}:6379/0'
timezone = 'Europe/London'

result_backend_transport_options = {
        'retry_policy': {
            'timeout': 5.0}
}
visibility_timeout = 43200
