---
#Make sure necessary files are loaded on the host
#- name: Create src directory
#  ansible.builtin.file:
#    path: /shared/almalinux/src
#    state: directory
#    owner: almalinux
#    group: almalinux
#    mode: "0755"          #7-owner:rwe, 5-group:re, 5-others:re
#- name: Copy src folder
#  ansible.builtin.copy:
#    src: "{{playbook_dir}}/../../src/"
#    dest: /shared/almalinux/src/
#    owner: almalinux
#    group: almalinux
#    mode: "0755"
#- name:	Create scripts directory
#  ansible.builtin.file:
#    path: /shared/almalinux/scripts
#    state: directory
#    owner: almalinux
#    group: almalinux
#    mode: "0755"
#- name: Copy scripts folder
#  ansible.builtin.copy:
#    src: "{{playbook_dir}}/../../scripts/"
#    dest: /shared/almalinux/scripts/
#    owner: almalinux
#    group: almalinux
#    mode: "0755"
#- name: Create data directory
#  ansible.builtin.file:
#    path: /shared/almalinux/data
#    state: directory
#    owner: almalinux
#    group: almalinux
#    mode: "0755"          
#- name: Copy experiment_ids file
#  ansible.builtin.copy:
#    src: "{{playbook_dir}}/../../data/experiment_ids.txt"
#    dest: /shared/almalinux/data/experiment_ids.txt
#    owner: almalinux
#    group: almalinux
#    mode: "0644"            #6-owner:rw, 4-group:r, 4-others:r





#Make sure necessary files are loaded on the host
- name: Create temporary git directory
  ansible.builtin.file:
    path: /tmp/V2coursework
    state: directory
    mode: "0755"
- name: Temporary clone entire V2coursework git repository
  ansible.builtin.git:
    repo: "{{gitrepourl}}"
    dest: /tmp/V2coursework
    version: master
    force: yes
    update: yes
    accept_hostkey: yes
- name: Remove old src directory
  ansible.builtin.file:
    path: /shared/almalinux/src/
    state: absent
- name: Create src directory
  ansible.builtin.file:
    path: /shared/almalinux/src
    state: directory
    owner: almalinux
    group: almalinux
    mode: "0755"          #7-owner:rwe, 5-group:re, 5-others:re
- name:	Copy src folder
  ansible.builtin.copy:
    src: /tmp/V2coursework/src/
    dest: /shared/almalinux/src/
    owner: almalinux
    group: almalinux
    mode: "0755"          #7-owner:rwe, 5-group:re, 5-others:re
    remote_src: yes
- name: Remove old scripts directory
  ansible.builtin.file:
    path: /shared/almalinux/scripts/
    state: absent
- name:	Create scripts directory
  ansible.builtin.file:
    path: /shared/almalinux/scripts
    state: directory
    owner: almalinux
    group: almalinux
    mode: "0755"
- name: Copy scripts folder
  ansible.builtin.copy:
    src: /tmp/V2coursework/scripts/
    dest: /shared/almalinux/scripts/
    owner: almalinux
    group: almalinux
    mode: "0755"
    remote_src:	yes
- name: Remove old data directory
  ansible.builtin.file:
    path: /shared/almalinux/data/
    state: absent
- name: Create data directory
  ansible.builtin.file:
    path: /shared/almalinux/data
    state: directory
    owner: almalinux
    group: almalinux
    mode: "0755"
- name:	Copy experiment_ids file
  ansible.builtin.copy:
    src: /tmp/V2coursework/data/experiment_ids.txt
    dest: /shared/almalinux/data/experiment_ids.txt
    owner: almalinux
    group: almalinux
    mode: "0644"          #6-owner:rw, 4-group:r, 4-others:r
    remote_src:	yes
- name: Delete git repoistory download fdoler
  ansible.builtin.file:
    path: /tmp/V2coursework
    state: absent
- name: Check if dataset already exists     #some we dont try to download again if already on file system
  ansible.builtin.stat:
    path: /shared/almalinux/dataset/dataset.fasta.gz
  register: datasetFlag
- name: Create temporary dataset directory  #faster and prevent putting corrupt files if download goes wrong
  ansible.builtin.file:
    path: /tmp/dataset
    state: directory
    mode: "0755"
  when: not datasetFlag.stat.exists
- name: Download dataset
  ansible.builtin.get_url:
    url: "https://ftp.uniprot.org/pub/databases/uniprot/current_release/knowledgebase/reference_proteomes/Eukaryota/UP000000589/UP000000589_10090.fasta.gz"
    dest: /tmp/dataset/dataset.fasta.gz
  when: not datasetFlag.stat.exists
- name: Create dataset directory  
  ansible.builtin.file:
    path: /shared/almalinux/dataset
    state: directory
    owner: almalinux
    group: almalinux
    mode: "0755"
  when: not datasetFlag.stat.exists
- name: Copy dataset to dataset   #copy tmp to acc shared file system
  ansible.builtin.copy:
    src: /tmp/dataset/dataset.fasta.gz
    dest: /shared/almalinux/dataset/dataset.fasta.gz
    owner: almalinux
    group: almalinux
    mode: "0644"          #6-owner:rw, 4-group:r, 4-others:r
    remote_src: yes
  when: not datasetFlag.stat.exists
- name: Delete temporary dataset directory
  ansible.builtin.file:
    path: /tmp/dataset
    state: absent
  when: not datasetFlag.stat.exists
