---
- name: Create pipeline database
  become: true
  become_user: postgres
  community.postgresql.postgresql_db:
    name: pipeline_db
    state: present
- name: Create uniprot protein table
  become: true
  become_user: postgres
  community.postgresql.postgresql_query:
    db: pipeline_db
    query: |
      CREATE TABLE IF NOT EXISTS proteins ( 
        id TEXT PRIMARY KEY,
        payload TEXT NOT NULL);
