---
- name: Install postgreSQL
  ansible.builtin.dnf:
    name:
      - postgresql
      - postgresql-server
      - python3-psycopg2
    state: present
- name: Check if postgres cluster exists #PG_VERSION created on initdb, check if exists
  ansible.builtin.stat: 
    path: /var/lib/pgsql/data/PG_VERSION
  register: postgres_exists
- name: Initialise postgres cluster #Creates PG_VERSION using initdb
  ansible.builtin.command:
    cmd: postgresql-setup --initdb
  when: not postgres_exists.stat.exists
- name: Enable and start postgresql
  ansible.builtin.service:
    name: postgresql
    state: started
    enabled: true
