---
#Clone all the necessary folders and files from the git repo and put inside nfs
- name: Create temporary git directory
  ansible.builtin.file:
    path: /tmp/V2coursework
    state: directory
    mode: "0755"
- name: Temporary clone entire V2coursework git repository
  ansible.builtin.git:
    repo: "{{gitrepourl}}"
    dest: /tmp/V2coursework
    version: main
    force: yes
    update: yes
    accept_hostkey: yes
- name: Remove old scripts directory
  ansible.builtin.file:
    path: /shared/almalinux/scripts/
    state: absent
- name:	Create scripts directory
  ansible.builtin.file:
    path: /shared/almalinux/scripts
    state: directory
    owner: almalinux
    group: almalinux
    mode: "0755"
- name: Copy scripts folder
  ansible.builtin.copy:
    src: /tmp/V2coursework/scripts/
    dest: /shared/almalinux/scripts/
    owner: almalinux
    group: almalinux
    mode: "0755"
    remote_src:	yes
- name: Delete git repoistory download fdoler
  ansible.builtin.file:
    path: /tmp/V2coursework
    state: absent
- name: Create runs directory
  file:
    path: /shared/almalinux/runs
    state: directory
    owner: almalinux
    group: almalinux
    mode: "0755"
