---
apiVersion: 1

datasources:
  - name: prometheus_comp0235
    uid: prometheus_comp0235
    type: prometheus
    access: proxy
    url: http://localhost:9090
    isDefault: true
    editable: false

